@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #074470;
    color: white;
    position: relative;
}

.animspan {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
}

body {
    font-family: 'Poppins', sans-serif;
}

.title-container {
    font-family: 'Anonymous Pro', monospace; 
    background-color: #074470;
}

#title{
    margin: 1em;
    font-size: 10vh;
}

#subtitle{
    font-size: 4vh;
}

.keyboard-div{
    padding: 0 0 5vh 0;
    background-color: #042238;
}

.keyboard-base {
    max-width: 150vh;
    padding: 2vh;
    position: relative;
    top: 30vh;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(197, 197, 197);
    border-radius: 3vh;
    display: grid;
    grid-template-columns: repeat(30, 4vh);
    grid-template-rows: repeat(5, 9vh);
    grid-gap: 1vh;
}


.key {
    background-color: rgb(243, 243, 243);
    color: black;
    border: 0.2vh solid black;
    border-radius: 1vh;
    grid-column: span 2;
    font-size: 3.5vh;
    text-align: center;
}

/* .key:hover {
  border: lid black solid #eeeeee;
  
} */

.delete {
    grid-column: span 4;
}

.tab {
    grid-column: span 3;
}

.backslash {
    grid-column: span 3;
}

.capslock {
    grid-column: span 4;
}

.return {
    grid-column: span 4;
}

.leftshift {
    grid-column: span 5;
}

.rightshift {
    grid-column: span 5;
}

.leftctrl {
    grid-column: span 3;
}

.command {
    grid-column: span 3;
    font-size: 2.2vh;
}

.space {
    grid-column: span 13;
}

.words-container{
    position: relative;
    background-color: #042238;
    letter-spacing: 0.3vh;
    margin-top: 20vh;
    font-size: 5vh;
    height: 40vh;
    margin-bottom: 0;
}

.words{
    font-family: monospace;
    white-space: pre;
    position: relative;
    top: 10vh;
    font-size: 1.3em;
    background-color: #042238;
    transition: initial;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #074470;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
  
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #095286;
}

input:focus + .slider {
  box-shadow: 0 0 lid black #095286;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.options {
    background-color: #074470;
    padding-left: 1em;
}

.options-button{
    transition-duration: 0.4s;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 3vh;
    border: none;
    width: 25vh;
    height: 5vh;
}


.options-button:hover {
    background-color: rgba(255, 255, 255, 0.863);
    color: black;
  }

.azerty-option{
    background-color: #074470;
    color: white;
}

.options h2{
    color: white;
    background-color: #074470;
}

.modal {
    box-sizing: border-box;
    position: fixed;
    transition: 200ms ease-in-out;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border: lid solid white;
    border-radius: 10px;
    z-index: 10;
    background-color: #074470;
    width: 500px;
    max-width: 80%;
}

.modal.active{
    transform: translate(-50%, -50%) scale(1);
}

.modal-title{
    background-color: #074470;
    color: white;
}

.modal-header {
    background-color: #074470;
    padding: 2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid white;
    font-weight: bold;
}

.modal-header .close-button {
    outline: none;
    border: none;
    cursor: pointer;
    background: none;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 2vh;
    background-color: #074470;
}

#modal-overlay {
    transition: 200ms ease-in-out; 
    box-sizing: border-box;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
    z-index: 9;
}

#modal-overlay.active {
    pointer-events: all;
    opacity: 1;
}
@keyframes caret {
    50% {
      border-color: transparent;
    }
}