@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #074470;
    color: white;
    position: relative;
}

.animspan {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
}

body {
    font-family: 'Poppins', sans-serif;
}

.title-container {
    font-family: 'Anonymous Pro', monospace; 
    background-color: #074470;
}

#title{
    margin: 1em;
    font-size: 10vh;
}

#subtitle{
    font-size: 4vh;
}

.keyboard-div{
    padding: 0 0 5vh 0;
    background-color: #042238;
}

.keyboard-base {
    max-width: 150vh;
    padding: 2vh;
    position: relative;
    top: 30vh;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(197, 197, 197);
    border-radius: 3vh;
    display: grid;
    grid-template-columns: repeat(30, 4vh);
    grid-template-rows: repeat(5, 9vh);
    grid-gap: 1vh;
}


.key {
    background-color: rgb(243, 243, 243);
    color: black;
    border: 0.2vh solid black;
    border-radius: 1vh;
    grid-column: span 2;
    font-size: 3.5vh;
    text-align: center;
}

/* .key:hover {
  border: 1px solid #eeeeee;
  
} */

.delete {
    grid-column: span 4;
}

.tab {
    grid-column: span 3;
}

.backslash {
    grid-column: span 3;
}

.capslock {
    grid-column: span 4;
}

.return {
    grid-column: span 4;
}

.leftshift {
    grid-column: span 5;
}

.rightshift {
    grid-column: span 5;
}

.leftctrl {
    grid-column: span 3;
}

.command {
    grid-column: span 3;
    font-size: 2.2vh;
}

.space {
    grid-column: span 13;
}

.words-container{
    position: relative;
    background-color: #042238;
    letter-spacing: 3px;
    margin-top: 20vh;
    font-size: 5vh;
    height: 40vh;
}

.words{
    position: relative;
    top: 10vh;
    background-color: #042238;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #042238;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
  
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #095286;
}

input:focus + .slider {
  box-shadow: 0 0 1px #095286;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.options {
    background-color: #042238;
    text-align: left;
    padding-left: 1em;
}

.azerty-option{
    background-color: #042238;
}

.options h2{
    text-align: left;
    background-color: #042238;
    padding: 0 0 1em 0;
}
@keyframes caret {
    50% {
      border-color: transparent;
    }
}